<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="org.sist.web.mappers.NLChatDAOMapper">
    
    <insert id="createRoom" parameterType="org.sist.web.vo.ChatRoomVO">
    insert into chatrooms values ('room'||seq_room.nextval, #{roomname}, #{members}, #{roomtheme}, #{roominfo})
    </insert>
    
    <select id="createRoomno" resultType="String">
    <![CDATA[
    select seq_room.currval from dual
    ]]>
    </select>
    
    <select id="getRoomList" parameterType="String" resultType="org.sist.web.vo.ChatRoomVO">
    
    select * from(
		with temp as( select * from chatrooms 
		<if test="value != null">
		where roomtheme=#{value} 
		</if>
		order by to_number(substr(roomnumber,5)) desc )
		select rownum no, temp.* from temp
	)
	where no between 1 and 4
    </select>
    
    
    <insert id="createVote"  parameterType="org.sist.web.vo.ChatVoteVO">
    insert into chatvote values (seq_vote.nextval, #{roomnumber}, #{voteTitle}, #{sub1},#{sub2},#{sub3},#{sub4} )
    </insert>
    
    <select id="getVotes"  parameterType="String" resultType="org.sist.web.vo.ChatVoteVO">
    select * from chatvote where roomnumber=#{value} order by to_number(votenumber) desc
    
    </select>
    
    <insert id="insertVote"  parameterType="org.sist.web.vo.VoteVO">
    insert into voteresult values (seq_result.nextval, #{votenumber}, #{vote}, #{userid} )
    </insert>
    
    <select id="getVoteResult"  parameterType="org.sist.web.vo.ChatVoteVO" resultType="org.sist.web.vo.VoteResultVO">
    with temp as(
	select vote from voteresult where votenumber = #{votenumber}
	)
	select * from temp
	pivot(
	  count(vote)
	  for vote
	  in ('${sub1}' a, '${sub2}' b, '${sub3}' c, '${sub4}' d)
	)
    </select>
    
    
<insert id="createCal" parameterType="org.sist.web.vo.CalendarVO">
insert into calendar (calno, title, content, startdate,starttime,loc,enddate,endtime,roomnumber)
values (SEQ_CAL.Nextval, #{title},#{content},#{startdate},#{starttime},#{loc},#{enddate},#{endtime},#{roomnumber})
</insert>
    
    
<select id="getCalList" parameterType="String" resultType="org.sist.web.vo.CalendarVO">
select *
from Calendar
where roomnumber = #{roomnumber}    
    
    
</select>  
    
<delete id="delCal">
delete
from Calendar
where calno = #{calno}
</delete>      
    
    
    
    
    
    </mapper>
